<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="content">
        用户展示列表
    
        <table border='1px solid red' width='500px'>
            <th>用户名</th>
            <th>是否管理员</th>
            <th>密码</th>
            <th>修改</th>
            
            {foreach $userlist as $vo}
            <tr>
                <td>{$vo.username} </td>
                <td>{$vo.is_admin} </td>
                <td>{$vo.password} </td>
                <td> 
                    <input type="button" onClick="updateId({$vo.id})" value="修改">
                    <input type="button" value="删除">
                </td>
                
            </tr>
            {/foreach}    
        </table>
    </div>
<script type="text/javascript">
    function updateId(id){
        // console.log(id);
        window.location.href="{:url('users/user_update')}?id="+id;
    }
</script>
</body>
</html>